

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-inverse {
  background: #aede98;
  border-color: #80a370
}




.header {
  height: 300px;
}










